.image {
    width: 300px;
    height: 450px;
    animation: spin 8s infinite linear;
    border-radius: 1.5rem;
    margin-top: 45px;
  }
  
  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
 p{
  color: rgb(221, 44, 168);
  font-size: 30px;
  text-align: center;
  letter-spacing: 1.8rem;
  text-transform: uppercase;
  margin-top: 35px;
 }
 .upe{
  width: 300px;
  height: 450px;
  animation: spin 8s infinite linear;
  border-radius: 1.2rem;
 }